{
  "id": "order",
  "version": "0.0.1",
  "routes": [
    {
      "method": "Get",
      "path": "/v1/order/{order-id}",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{get}();\nmatch result {  some(x) => {status: 200u64, body: x}, none => {status: 404u64, body: {message: \"not found\"}} } "
      }
    },
    {
      "method": "Put",
      "path": "/v1/order/{order-id}/email",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let email: string = request.body.email;\nlet result = golem:order-exports/api.{update-email}(email);\nmatch result {  ok(_) => {status: 200u64, body: {message: \"email set\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Put",
      "path": "/v1/order/{order-id}/items/{product-id}",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let quantity: u32 = request.body.quantity;\nlet result = golem:order-exports/api.{add-item}(request.path.product-id, quantity);\nmatch result {  ok(_) => {status: 200u64, body: {message: \"item added\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Post",
      "path": "/v1/order/{order-id}/ship-order",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{ship-order}();\nmatch result {  ok(_) => {status: 200u64, body: {message: \"order shipped\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Post",
      "path": "/v1/order/{order-id}/cancel-order",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{cancel-order}();\nmatch result {  ok(_) => {status: 200u64, body: {message: \"order cancelled\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Put",
      "path": "/v1/order/{order-id}/billing-address",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{update-billing-address}(request.body);\nmatch result {  ok(_) => {status: 200u64, body: {message: \"address set\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Put",
      "path": "/v1/order/{order-id}/shipping-address",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{update-shipping-address}(request.body);\nmatch result {  ok(_) => {status: 200u64, body: {message: \"address set\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    },
    {
      "method": "Delete",
      "path": "/v1/order/{order-id}/items/{product-id}",
      "binding": {
        "component": {
          "name": "$ORDER_COMPONENT_NAME",
          "version": $ORDER_COMPONENT_VERSION
        },
        "workerName": "let id: string = request.path.order-id;\nid",
        "idempotencyKey": null,
        "response": "let result = golem:order-exports/api.{remove-item}(request.path.product-id);\nmatch result {  ok(_) => {status: 200u64, body: {message: \"item removed\"}}, err(x) => {status: 400u64, body: {error: x}} } ",
        "idempotencyKeyInput": null
      }
    }
  ],
  "draft": true
}